body {
  font-family: "Karla", sans-serif;
  color: #1B2D2A;
  background-color: #E8E9EB; }

h1,
h2,
h3,
h4 {
  font-family: "Rakkas", cursive; }

.container {
  position: absolute;
  height: 100%;
  width: 100%; }

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  height: 100%; }

.left-third-container,
.right-two-third-container {
  width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px; }

.left-third-container {
  background-color: #1B2D2A;
  padding: 2%;
  margin-right: 15px;
  width: 33.33%;
  position: fixed;
  height: 100%; }

.right-two-third-container {
  right: 0;
  width: 66.67%;
  position: absolute;
  background-color: #FF5666; }

#items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  padding: 0 0 15px 15px; }

.item-container {
  width: 300px;
  height: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  margin: 15px 15px 0 0;
  background-color: #E8E9EB; }
